body {
    background-color: #003581;
    margin: 0;
    font-family: Trebuchet;
}

#container {
    margin: 0 auto;
    width: 950px;
}

#container #header {
    width: 934px;
    height: 134px;
    margin: 0 auto;
    padding: 8px;
    background-color: white;
}

#container #navbar {
    width: 934px;
    height: 45px;
    margin: 0 auto;
    padding-left: 8px;
    padding-right: 8px;
    background-color: white;
}

#block {
    float: left;
    background-color: #CC0605;
    width: 180px;
    height: 23px;
    margin: 3px;
    padding-top: 3px;
    text-align: center;
    color: white;
}

#block:hover {
    background-color: #003581;
    cursor: pointer;
}

#block2 {
    float: left;
    background-color: #CC0605;
    width: 180px;
    height: 23px;
    margin: 3px;
    padding-top: 3px;
    text-align: center;
    color: white;
}

#container #content {
    width: 934px;
    min-height: 650px;
    margin: 0 auto;
    padding: 8px;
    background-color: white;
}

#login {
    margin: 0 auto;
    width: 350px;
    height: 200px;
    padding-top: 130px;
}

#log-titel {
    background-color: #003581;
    height: 50px;
    padding-left: 10px;
    text-align: left;
    font-family: Calibri;
    font-size: 35px;
    color: white;
}

#log-content {
    border-bottom: solid 1px gray;
    border-left: solid 1px gray;
    border-right: solid 1px gray;
    height: 130px;
    padding-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 5px;
}

#open {
    float: left;
    width: 415px;
    padding-top: 15px;
    height: 150px;
    border: solid 2px gray;
    text-align: center;
}

#workshop {
    float: left;
    width: 455px;
    height: 600px;
    border: solid 2px gray;
    margin-top: 10px;
}

#mail {
    float: right;
    width: 455px;
    height: 600px;
    border: solid 2px gray;
    margin-top: 10px;
}



#info {
    float: right;
    width: 470px;
    height: 605px;
    border: solid 2px gray;
    padding: 15px;
}

#info1 {
    float: left;
    width: 200px;
    height: 400px;
    padding: 15px;
    font-weight: bold;
}

#info2 {
    float: right;
    width: 200px;
    height: 400px;
    padding: 15px;
}

.myButton {
    -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
    -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
    box-shadow:inset 0px 1px 0px 0px #ffffff;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #f6f6f6));
    background:-moz-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
    background:-webkit-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
    background:-o-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
    background:-ms-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
    background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0);
    background-color:#ffffff;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:1px solid #dcdcdc;
    display:inline-block;
    cursor:pointer;
    color:#666666;
    font-family:Arial;
    font-size:15px;
    font-weight:bold;
    padding:6px 24px;
    text-decoration:none;
    text-shadow:0px 1px 0px #ffffff;
}
.myButton:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f6f6f6), color-stop(1, #ffffff));
    background:-moz-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
    background:-webkit-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
    background:-o-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
    background:-ms-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
    background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f6', endColorstr='#ffffff',GradientType=0);
    background-color:#f6f6f6;
}
.myButton:active {
    position:relative;
    top:1px;
}


/*----- Accordion -----*/
.accordion, .accordion * {
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
}

.accordion {
    overflow:hidden;
    box-shadow:0px 1px 3px rgba(0,0,0,0.25);
    border-radius:3px;
    background:#f7f7f7;
}

/*----- Section Titles -----*/
.accordion-section-title {
    width: 100%;
    padding:8px;
    display:inline-block;
    border-bottom:1px solid #1a1a1a;
    background:#7F7E7F;
    transition:all linear 0.15s;
    /* Type */
    font-size:0.900em;
    /*text-shadow:0px 1px 0px #ffffff;*/
    color:#fff;
}

.accordion-section-title.active, .accordion-section-title:hover {
    background:#659CEF;
    color: #fff;
    /* Type */
    text-decoration:none;
}

.accordion-section:last-child .accordion-section-title {
    border-bottom:none;
}

/*----- Section Content -----*/
.accordion-section-content {
    padding:12px;
    display:none;
}

.CSSTableGenerator {
    margin:0px;padding:0p
width:100%;
    border:1px solid #000000;

    -moz-border-radius-bottomleft:0px;
    -webkit-border-bottom-left-radius:0px;
    border-bottom-left-radius:0px;

    -moz-border-radius-bottomright: 0px;
    -webkit-border-bottom-right-radius:0px;
    border-bottom-right-radius:0px;

    -moz-border-radius-topright:0px;
    -webkit-border-top-right-radius:0px;
    border-top-right-radius:0px;

    -moz-border-radius-topleft:0px;
    -webkit-border-top-left-radius:0px;
    border-top-left-radius:0px;
}.CSSTableGenerator table{
     border-collapse: collapse;
     border-spacing: 0;
     width:100%;
     height: 250px;
     margin:0px;padding:0px;
 }.CSSTableGenerator tr:last-child td:last-child {
      -moz-border-radius-bottomright:0px;
      -webkit-border-bottom-right-radius:0px;
      border-bottom-right-radius:0px;
  }
.CSSTableGenerator table tr:first-child td:first-child {
    -moz-border-radius-topleft:0px;
    -webkit-border-top-left-radius:0px;
    border-top-left-radius:0px;
}
.CSSTableGenerator table tr:first-child td:last-child {
    -moz-border-radius-topright:0px;
    -webkit-border-top-right-radius:0px;
    border-top-right-radius:0px;
}.CSSTableGenerator tr:last-child td:first-child{
     -moz-border-radius-bottomleft:0px;
     -webkit-border-bottom-left-radius:0px;
     border-bottom-left-radius:0px;
 }.CSSTableGenerator tr:hover td{

  }
.CSSTableGenerator tr:nth-child(odd){ background-color:#ffffff; }
.CSSTableGenerator tr:nth-child(even)    { background-color:#ffffff; }.CSSTableGenerator td{
                                                                          vertical-align:middle;


                                                                          border:1px solid #000000;
                                                                          border-width:0px 1px 1px 0px;
                                                                          text-align:left;
                                                                          padding:7px;
                                                                          font-size:10px;
                                                                          font-family:Arial;
                                                                          font-weight:bold;
                                                                          color:#000000;
                                                                      }.CSSTableGenerator tr:last-child td{
                                                                           border-width:0px 1px 0px 0px;
                                                                       }.CSSTableGenerator tr td:last-child{
                                                                            border-width:0px 0px 1px 0px;
                                                                        }.CSSTableGenerator tr:last-child td:last-child{
                                                                             border-width:0px 0px 0px 0px;
                                                                         }
.CSSTableGenerator tr:first-child td{
    background:-o-linear-gradient(bottom, #7f7e7f 5%, #7f7e7f 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #7f7e7f), color-stop(1, #7f7e7f) );
    background:-moz-linear-gradient( center top, #7f7e7f 5%, #7f7e7f 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#7f7e7f", endColorstr="#7f7e7f");	background: -o-linear-gradient(top,#7f7e7f,7f7e7f);

    background-color:#7f7e7f;
    border:0px solid #000000;
    text-align:center;
    border-width:0px 0px 1px 1px;
    font-size:14px;
    font-family:Arial;
    font-weight:bold;
    color:#ffffff;
}
.CSSTableGenerator tr:first-child:hover td{
    background:-o-linear-gradient(bottom, #7f7e7f 5%, #7f7e7f 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #7f7e7f), color-stop(1, #7f7e7f) );
    background:-moz-linear-gradient( center top, #7f7e7f 5%, #7f7e7f 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#7f7e7f", endColorstr="#7f7e7f");	background: -o-linear-gradient(top,#7f7e7f,7f7e7f);

    background-color:#7f7e7f;
}
.CSSTableGenerator tr:first-child td:first-child{
    border-width:0px 0px 1px 0px;
}
.CSSTableGenerator tr:first-child td:last-child{
    border-width:0px 0px 1px 1px;
}


#work {
    float: left;
    width: 415px;
    height: 456px;
    border: solid 2px gray;
    margin-top: 10px;
}

#container #footer {
    width: 930px;
    height: 45px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: white;
    border-top: solid 1px white;
    text-align: center;
    color: gray;
    font-size: 13px;
}

a {
    text-decoration: none;
    color: gray;
}

a:hover {
    color: #003581;
}

.footer-margin {
    margin-left: 20px;
    margin-right: 20px;
}